.boardWrapper{

  display: grid;
  grid-template-rows: repeat(25, 1fr);
  height: 60vw;
  width: 60vw;
  margin-left: 20vw;
  border: 2px solid blue;
}

.row{
  display: grid;
  grid-template-columns: repeat(25, 1fr);
}
